@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:700&display=swap&subset=cyrillic');

:root {
	--soft-blue-1: #b4e4e4;
	--darker-blue: #8ccece;
	--soft-green: #a8f0aa;
	--soft-red: #f0a8ad;
	--soft-blue: #a8c3f0;
	--soft-orange: #f0dea8;
	--page-background: rgb(240, 240, 240);
	--page-background-dim: rgba(240, 240, 240, .6);
	--grey: #888;
	--grey-light: #bbb;
	--box-shadowing: 5px 5px 30px 0 rgba(0, 0, 0, .1);
}

@media(min-width: 1000px) {
	
	h1 {
		font-size: 4.5em;
	}

	section:first-child h1 {
		font-size: 6em;
	}
	
	h2 {
		font-size: 2em;
	}

	section {
		margin: 0;
		padding: 5em 0;
	}
	
}

@media(max-width: 1000px) {


	section {
		margin: 0;
		padding: 3em 0 1em;
	}
	
}

@media(min-width: 700px) {

	section .textcontainer {
		padding: 0 10em;
	}
	
	.rl-spacing {
		padding-left: 100px;
		padding-right: 100px;
	}
	
}

@media(max-width: 700px) {

	section .textcontainer {
		padding: 0 20px;
	}
	
	.rl-spacing {
		padding-left: 20px;
		padding-right: 20px;
	}
	
}

@media(min-width: 520px) {
	
	section:first-child h1 {
		font-size: 4em;
	}

	h1 {
		font-size: 3em;
	}
	
	h2 {
		font-size: 1.5em;
	}

}

@media(max-width: 520px) {
	
	section:first-child h1 {
		font-size: 2.5em;
	}

	h1 {
		font-size: 1.8em;
	}

}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	line-height: 2;
	background-color: var(--page-background);
	overflow-x: hidden;
}

h1, h2 {
	font-family: "Roboto Condensed";
	line-height: 1.2;
}

section .textcontainer {
	text-align: center;
}

.block {
	display: block;
}

.v-space {
	margin-top: 3em;
	margin-bottom: 3em;
}

.top-v-space {
	margin-top: 2em;
}

.dimmed {
	opacity: .4
}

.redtext {
	color: maroon;
}

.box {
	background: white;
	box-shadow: var(--box-shadowing);
	padding: 30px 20px;
}

.h-centrize {
	margin: auto;
	display: table;
}

.l-align {
	text-align: left;
}

section.white {
	background: white;
}

section.red {
	background: var(--soft-red);
}

section.blue {
	background: var(--soft-blue);
}

a {
  margin-top: 1.5em;
	text-decoration: none;
	display: inline-block;
	color: inherit;
	border: 0;
	padding: 10px 25px;
	font: inherit;
	background: rgba(0, 0, 0, .1);
	cursor: pointer;
	transition: .1s;
}

a:hover {
	background: rgba(0, 0, 0, .2);
}

a:active {
	background: rgba(0, 0, 0, .3);
	box-shadow: 0 0 0 5px rgba(0, 0, 0, .1) inset;
}

section.green {
	background: var(--soft-green);
}

section.orange {
	background: var(--soft-orange);
}